<th scope="row">{{#link-to "show-statement" this.account.id}} {{this.account.account}} {{/link-to}} </th>
<td>{{this.account.accountType}}</td>
<td>${{this.account.balance}}</td>
<td>${{this.account.available}}</td>
